html,
body {
  font-family: Novecento Sans Wide, Helvetica Neue, sans-serif;
  color: #fff;
  /*background-image: url(/assets/imgs/bg@2x.jpg);*/
  /*background: linear-gradient(#35013F, #EB5033);*/
  background: #121212;
  background-size: cover;
  position: relative;
  min-height: 100%;
  font-size: 13px;
}

@media screen and (min-width: 480px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  html,
  body {
    font-size: 16px;
  }
}


@media screen and (min-width: 1441px) {
  html,
  body {
    font-size: 20px;
  }
}


a,
a:link {
  color: #fff;
}

p, .serif, .gt-text--serif {
  font-family: Lora, serif;
  line-height: 1.5;
  font-weight: 100;
}

h1,
h2,
h3 {
  text-transform: lowercase;
}

.gt-text--subhead {
  font-size: .65em;
  letter-spacing: .1em;
  /*border-bottom: 2px solid;*/
  text-transform: uppercase;
  font-weight: 900;
}