
/* tracklist */
.gt-track--tracklist {
  display: flex;
  line-height: 1;
  align-items: center;
  padding: 1.5em 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.gt-track__pos {
  width: 40px;
  margin-left: -40px;
  font-size: .6em;
  align-self: flex-start;
  font-weight: 800;
  color: rgba(0, 0, 0, .5);
}

.gt-track__track {
  /* flex: 1; */
  font-size: 1.125em;
  font-weight: 100;
}

.gt-track__track a {
  color: #444;
}

.gt-track__duration {
  width: 80px;
  margin-left: auto;
  text-align: right;
  font-weight: 100;
  font-size: .7em;
}

.gt-tracklist__artwork {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  z-index: -1;
}

.gt-tracklist__artwork:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
}

.gt-tracklist__artwork img {
  width: 100% !important;
  height: auto;
   margin-top: -25%;
}

.gt-tracklist a.gt-button {
  color: #777;
  font-weight: 800;
  text-transform: lowercase;
}